.body {
  padding: 20px 22px;
  background-color: #ffffff;
  flex-direction: column;
  margin: 10px;
  max-width: 350px;
  max-height: 580px;
  width: 25vw;

  .image {
    height: 50%;
    width: 100%;
    overflow: hidden;
    .picture {
      object-fit: contain;
      overflow: hidden;
    }
  }


  .controls {
    height: 10%;
  }


  .title {
    height: 10%;
    color: #2d3e4e;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .description {
    height: 30%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}