.grouping-name {
    margin: 10px;
}

.grouping-header {
    display: flex;
}

.grouping-container {
    border: 2px solid;
    border-color: chocolate;
    margin-top: 10px;
    margin-bottom: 10px;
}